
%fix-iOS-tap-highlight {
	-moz-appearance             : none !important;
	-webkit-appearance          : none !important;
	appearence                  : none !important;
	-webkit-tap-highlight-color : rgba(0, 0, 0, 0.0) !important;
	touch-action                : manipulation !important;
	user-select                 : none !important;
}
// @extend %fix-iOS-tap-highlight;

%list-reset {
	list-style : none none;
	margin          : unset;
	padding         : unset;
	display         : flex;
	flex-direction  : column;
	justify-content : flex-start;
	width           : 100%;
	gap             : 0;
	
	li {
		list-style      : none none;
		margin          : unset;
		padding         : unset;
		display         : block;
		width           : 100%;
	}
	
	@media screen and (min-width : 560px) {
		flex-direction  : row;
		justify-content : space-between;
		flex-wrap       : wrap;
		li {
			display : inline-flex;
			width   : auto;
			margin  : 0 auto;
		}
	}
}

%visually-hidden {
	position    : absolute;
	white-space : nowrap;
	width       : 1px;
	height      : 1px;
	overflow    : hidden;
	border      : 0;
	padding     : 0;
	clip        : rect(0 0 0 0);
	clip-path   : inset(50%);
	margin      : -1px;
}

%container {
	width     : 90%;
	// max-width : 768px;
	max-width : 75ch;
	margin    : 0 auto;
}
